html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #05243f;
}

h1 {
    font-family: 'Noto Serif Display', serif;
    color: #a38647;
    text-align: center;
    font-size: 60px;
    padding-bottom: 5px;
}


#map {
    height: 100vh; 
}

.btn-map {
    position: relative;
    width: 150px;
    height: 30px;
    background: #05243f;
    border-radius: 4px;
}


